<div class='card mt-1 clr_font_bd'>
    <div class="card-body">
        
        <div class="list-add-form">
            <% cache 'list_form' ,expires_in: 1.hours do %>
                <%= render 'lists/list_form',list: @list%>
            <%end%>
        </div>
        
        <div class="w-100 clr_point_l"></div>

        <div class="mt-3">
        <p class="mb-2">お部屋一覧</p>
        
        <div class="card mb-0" style="height:155px">
            <div class="card-body px-2 py-0" style="overflow-y:auto">
                <div class="">
                <% @lists.each do |list|%>
                <% cache list ,expires_in: 1.hours do %>
                    <div class="list-flag row no-gutters mx-1 d-flex align-items-center" style="height:30px">
                        <div class="col-2 w-100 "><%= link_to list , :method => :delete, data:{ confirm: list.name+'を削除しますか？'},class: 'clr_point_c' do %><i class="fa fa-times"></i><% end %></div>
                        <div class="col-8 w-100"><div class="text-left"><%= list.name%></div></div>
                        <div class="col-2 w-100"><div class="text-right"><div class= 'list-edit clr_point_c text-right btn btn-link p-0'><i class="fas fa-pen fa-sm"></i></div></div></div>
                    </div>
                    <div class="list-edit-form mb-1">
                    <div class=" row no-gutters d-flex align-items-center my-0" style="height:30px">
                        <div class="col-12">
                            <%= form_with(model: list, local: true)do |f| %>
                                <div class="input-group">
                                    <%= f.text_field :name, class: 'form-control form-control-sm'%>
                                    <span class="input-group-append">
                                        <%= f.submit 'OK' , class: 'btn btn-sm clr_sub_b clr_font_c clr_font_bd' %>
                                    </span>
                                </div>
                            <%end%>
                        </div>
                    </div>
                    </div>
                <%end%>
                <%end%>
                </div>    
            </div>
        </div>
        </div>
        
    </div>
</div>

<script>
$('.list-edit-form').hide();
</script>

<style>
.custom-control-input:checked~.custom-control-label::before {
    border-color:<%= @theme['clr_point'] %>;
    background-color:<%= @theme['clr_point'] %>;
}
</style>