<% @listid = list.id%>
<div class="col-md-3 col-12 p-0 w-100 h-100 clr_font_c list_<%=@listid%>">
<!-- リスト名 -->
    <div class='card mt-2 mx-auto clr_font_bd' style='width:95%;'>
        <div class="row no-gutters">
            <!-- 色決め リストで交互に -->            
            <div class="col-1 list_clr_<%= list.id%>">
                <div class="w-100 h-100 clr_list_i_b"></div>
            </div>
            <div class="col-8">
                <div class="card-body mx-auto h-100 pr-0"><h1 class="list_no_<%= @listid%>" style="font-size:20px;margin:0"><%= list.name %></h1></div>
            </div>
            <div class="col-3">
                <div class="text-right card-body mx-auto pl-0">
                    <a style="font-size:16px;text-align:right;color:#808080;" class="tng_size_<%= @listid%>"><%= @no = current_user.things.where(list_id: list.id).to_a.size %></a>
                </div>
            </div>
        </div>
    </div>
<!-- 中身 -->
    <div class="mt-4 list-card"><div class="w-100 px-2 list_no_<%= @listid %>_tng"><%= render partial: 'things/tng' , collection: @things.where(list_id: list.id), as: 'tng',locals:{lists: lists,tags: tags}%></div></div>
</div>