<div class="card">
    <div class="card-body">
        <p>お部屋の新規登録</p>
        <div class="list-add-form">
            <%= render 'lists/list_form',list: @list%>
        </div>
    
        <div class="my-2" style="border-bottom: 2px dotted #e6e6e6;width:100%"></div>
        <p>お部屋一覧</p>
        
        <div class="card" style="height:250px">
            
            <div class="card-body p-1" style="overflow-y:auto">
        
                <table class="table table-borderless">
                    <tbody>
                        <% lists.each do |list|%>
                            <tr class="p-0 my-3">
                                <td class="p-0"><%= link_to list , :method => :delete, data:{ confirm: list.name+'を削除しますか？'},class: 'mx-2' do %><i class="fa fa-times"></i><% end %></td>
                                <td class="p-0"><%= list.name %></td>
                                <td class="p-0"><div class="text-right list-edit btn btn-link p-0"><i class="fas fa-pen"></i></div></td>
                                <div class="list-edit-form">
                                <%= render 'lists/list_form',list: list%>   
                                </div>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
        
            </div>
        </div>
        


        <div class="custom-control custom-switch my-3">
            <%= form_with(url: root_path(:sort),method: :get,local: true,class:'switch-form') do |f| %>
            
            <% if params[:sort]=='deadline asc'%>
                <%= f.check_box :sort ,{checked: true,class: 'custom-control-input'},'deadline asc','deadline desc'%>
            <%else%> 
                <%= f.check_box :sort ,{class: 'custom-control-input'},'deadline asc','deadline desc'%>
            <%end%>
            <%= f.label :sort, '昇順表示',class:'custom-control-label'%>
            <div style="float:right">
            <%= f.submit 'ok',class:'btn btn-success btn-sm'%>
            </div>
            <%end%>
        </div>

    </div>
</div>


<script>
    $('.list-edit-form').hide();///*.list-add-form,*/
    $('.list-edit').on('click',function(){
        $(this).next('.list-edit-form').slideToggle();
//            $('.tag-edit-form').not($(this).next('.tag-edit-form')).slideUp();
    })
    $('.list-add').on('click',function(){
        $(this).next('.list-add-form').slideToggle();
        //$('.tag-add-form').not($(this).next('.tag-add-form')).slideUp();
    })
    
</script>