<div class="card">
  <div class="card-body">
    
    <h5 class="w-50" style="display:inline-table">新規登録</h5>
    <div class="py-0 pr-0 btn btn-link login-btn" style="padding-left:26%">ログイン</div>
    
    <div style="border-bottom: 2px dotted #e6e6e6"></div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field my-2">
        <%= f.label :name ,class:'mb-1'%>
        <%= f.text_field :name, autofocus: true, autocomplete: "name" ,class:'form-control form-control-sm' %>
      </div>
    
      <div class="field my-2">
        <%= f.label :email ,class:'mb-1'%>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class:'form-control form-control-sm' %>
      </div>
    
      <div class="field my-2">
        <%= f.label :password ,class:'mb-1'%>
        <small class="text-muted">※6文字以上</small>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password",class:'form-control form-control-sm' %>
      </div>
    
      <div class="field my-2">
        <%= f.label :password_confirmation ,class:'mb-1'%><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password",class:'form-control form-control-sm' %>
      </div>
      
      <div class="field my-2">
        <%= f.label :theme, class:'mb-1'%>
        <small class="text-muted">※後から変更できます</small>
        <%= f.select :theme, [["ラムネ", 'sodapop'],["メロンソーダ", 'melon'],["ショートケーキ",'cake'],["モノクロ", 'mono']],{},class: 'form-control form-control-sm'%>
      </div>
    
      <div class="actions pt-2">
        <%= f.submit "新規登録", class: 'btn btn-success btn-block' %>
      </div>
    <% end %>
  </div>
</div>