<div class='card mt-1 clr_font_bd'>
    <div class="card-body">
        <%= form_with(model: current_user.things.new ,url: things_path )do |f| %>
        <div class="form-group my-1">
            <%= f.label :list_id, 'お部屋' %>
<%#       <%cache_unless lists.last.nil? , [lists.order(:updated_at).last,lists.size] , expires_in: 30.minutes do%>
                <%= f.collection_select :list_id, lists.where(user_id: current_user.id) ,:id,:name,{} ,class: 'form-control form-control-sm'%>
<%#       <%end%>
        </div>
        <div class="form-group my-1">
            <%= f.label :content, 'もの' %>
            <%= f.text_field :content, autocomplete: 'off',class: 'form-control form-control-sm tng-field'%>
        </div>
        <div class="form-group my-1">
            <%= f.label :deadline, '消費 / 賞味期限' %></br>
            <%= f.date_field :deadline, class: 'form-control form-control-sm'%>
        </div>
        <div class="form-group my-1">
            <%= f.label :tag_id, 'タグ' %></br>
<%#            <%cache_unless tags.order(:updated_at).last.nil?, [tags.order(:updated_at).last , tags.size] ,expires_in: 30.minutes do%>
                <%= f.collection_select :tag_id, tags.where(user_id: current_user.id),:id,:name,{},class: 'form-control form-control-sm'%>
<%#            <%end%>
        </div>
        <div class="form-group mt-1 mb-3 ">
            <%= f.label :quantity, '個数'%>
            <%= f.number_field :quantity, value: 1,min: 1, class: 'form-control form-control-sm', size: '5x5' %>
        </div>
        <div class="text-right"><%= f.submit '追加' , class: 'btn ml-2 btn-sm clr_sub_b clr_font_c clr_font_bd' %><%end%>
        </div>
    </div>
</div>