<%= content_tag(:div,'',style:'border-color:'+@theme.clr_font ,class:'card mt-1') do %>
    <div class="card-body">
        <%= form_with(model: @thing, local: true)do |f| %>
        <div class="form-group my-1">
            <%= f.label :list_id, 'お部屋' %>
            <%= f.collection_select :list_id, List.where(user_id: current_user.id) ,:id,:name,{} ,class: 'form-control form-control-sm'%>
        </div>
        <div class="form-group my-1">
            <%= f.label :content, 'もの' %>
            <%= f.text_field :content, class: 'form-control form-control-sm'%>
        </div>
        <div class="form-group my-1">
            <%= f.label :deadline, '消費 / 賞味期限' %>
            </br>
            <%= f.date_field :deadline,  class: 'form-control form-control-sm'%>
        </div>
        <div class="form-group my-1">
            <%= f.label :tag_id, 'タグ' %>
            </br>
            <%= f.collection_select :tag_id, Tag.where(user_id: current_user.id),:id,:name,{},class: 'form-control form-control-sm'%>
        </div>
        
        <div class="form-group mt-1 mb-3 ">
            <%= f.label :quantity, '個数'%>
            <%= f.number_field :quantity, value: 1,min: 1, class: 'form-control form-control-sm', size: '5x5' %>
        </div>
        <div class="text-right">
            <%= f.submit '追加' , class: 'btn ml-2 btn-sm clr_sub_b clr_font_c',style: 'border-color:'+@theme.clr_font %>
            <%end%>
        </div>
    </div>
<%end%>
