<% @no -= 1 %><% if @no == 0 then @m = 'mb-0' else @m = 'mb-2' end%><% @tng_id =tng.id.to_s%>
<%=content_tag(:div,'', id: tng.id, class: 'tng_no_'+@tng_id+' target-card card clr_font_bd clr_font_c '+@m) do %>
    <% cache @clr_flag.to_s+tng.updated_at.to_s ,expires_in: 30.minutes do%>
    <div class="tng-main row no-gutters">
        <div class="col-1 px-auto w-100">
            <%if @clr_flag == true then%><div class="w-100 h-100 d-flex align-items-center clr_list_i_b">
            <%elsif @clr_flag == false then%><div class="w-100 h-100 d-flex align-items-center clr_list_ii_b"><%end%>
                <%= link_to content_tag(:i,'',class:'fa fa-check fa-sm'), tng ,remote: true,method: :delete, data:{ confirm: tng.content+'を削除しますか？'},class: 'clr_sub_c text-center w-100' %>
            </div>
        </div>
    <%#メイン%>
        <div class="col-6 w-100 pr-0 pl-2"style="padding: 0.56rem;">
            <div class="h-100 ml-1">
                <p class="m-0 tng_content_<%=@tng_id%>" style='font-size:15.5px'><%= tng.content %></p>
                <% unless tng.tag_id == nil then %><%= content_tag(:p, '#'+@tags.find(tng.tag_id).name ,style:'font-size:11px' ,class: 'tng_tag_update_'+@tng_id+' mt-1 mb-0 tag_update_'+tng.tag_id.to_s) %><%end%>
            </div>
        </div>
        <div class="col-3 px-auto w-100 py-3 pr-1">
            <div class="h-100 d-flex align-items-center" style="float:right;">
                <div style="font-size:10px" class="tng_deadline_update_<%=@tng_id%>">
                    <% num = (tng.deadline-@today).to_i %>
                    <%if num > 0 %>あと <a style="font-size:14px"><%= num %></a> 日
                    <%elsif num == 0 %><p class=" m-0 clr_point_c" style="font-size:14px;font-weight: bold;">当日</p>
                    <%else%><a style="font-size:14px"><%= num.abs %></a> 日 経過
                    <%end%>
                </div>
            </div>
        </div>
        <div class="col-2 px-auto w-100 py-3">
            <div class="h-100 d-flex align-items-center">
                <div class="tng-edit text-center w-100">
                    <%if @clr_flag == true then%><div class="w-100 text-center btn btn-link p-0 clr_list_i_c">
                    <%elsif @clr_flag == false then %><div class="w-100 text-center btn btn-link p-0 clr_list_ii_c"><%end%>
                        <i class="fas fa-pen"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%end%>
    <div class="row no-gutters tng-edit-form" style="display:none">
        <div class="col-1 px-auto w-100">
            <%if @clr_flag == true then%><div class="h-100 d-flex align-items-center clr_list_i_b"></div>
            <%elsif @clr_flag == false then %><div class="h-100 d-flex align-items-center clr_list_ii_b"></div>
            <%end%>
        </div>
        <%cache lists.last.updated_at.to_s + lists.size.to_s + tags.last.updated_at.to_s + tags.size.to_s + tng.updated_at.to_s,expires_in: 30.minutes do%>
        <div class="col-11">
            <div class="w-100 pb-3 px-3 pt-1 tng_update_form_<%=tng.id%>">
                <%= form_with(model: tng)do |f| %>
                    <div class="input-group input-group-sm mt-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-group-sm"><%= f.label :list_id, 'お部屋',class:'m-0'%></span>
                        </div>
                    <%#    <%cache [lists.order(:updated_at).last,lists.size] ,expires_in: 30.minutes do%>
                        <%= f.collection_select :list_id, lists.where(user_id: current_user.id),:id,:name,{prompt: '未収納'} ,class: 'form-control list_select_update' %>
                    <%#    <%end%>
                    </div>
                    <div class="input-group input-group-sm my-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-group-sm"><%= f.label :content, '&ensp;もの&ensp;'.html_safe,class:'m-0' %></span>
                        </div>
                        <%= f.text_field :content, class: 'form-control'%>
                    </div>
                    <div class="input-group input-group-sm my-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-group-sm"><%= f.label :deadline, '&ensp;期限&ensp;'.html_safe,class:'m-0' %></br></span>
                        </div>
                        <%= f.date_field :deadline,  class: 'form-control '%>
                    </div>
                    <div class="input-group input-group-sm my-2 mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-group-sm"><%= f.label :tag_id, '&ensp;タグ&ensp;'.html_safe ,class:'m-0'%></br></span>
                        </div>
                    <%#    <%cache [tags.order(:updated_at).last,tags.size] ,expires_in: 30.minutes do%>
                        <%= f.collection_select :tag_id, tags.where(user_id: current_user.id) ,:id ,:name,{prompt: '----'},class: 'form-control tag_select_update' %>
                    <%#    <%end%>
                    </div>
                    <div class="text-right">
                        <%if @clr_flag == true then%><%= f.submit 'OK' , class: 'btn btn-sm clr_list_i_b clr_sub_c w-100' %>
                        <%elsif @clr_flag == false then%><%= f.submit 'OK' , class: 'btn btn-sm clr_list_ii_b clr_sub_c w-100' %>
                        <%end%>
                    </div>
                <%end%>
            </div>            
        </div>                   
    </div>
    <%end%>
<%end%>