<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog mx-auto" style="width:80%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">何を収納する？</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる"><span aria-hidden="true">&times;</span></button>
      </div>
        <%= form_with(model: @thing, local: true)do |f| %>
        <div class="modal-body py-1">
            <div class="form-group my-1">
                <%= f.label :list_id, 'お部屋' %>
                <%cache_unless lists.last.nil? , [lists.last,lists.size] , expires_in: 30.minutes do%><%= f.collection_select :list_id, lists.where(user_id: current_user.id) ,:id,:name,{} ,class: 'form-control form-control-sm'%><%end%>
            </div>
            <div class="form-group my-1">
                <%= f.label :content, 'もの' %>
                <%= f.text_field :content, class: 'form-control form-control-sm'%>
            </div>
            <div class="form-group my-1">
                <%= f.label :deadline, '消費 / 賞味期限' %></br>
                <%= f.date_field :deadline, class: 'form-control form-control-sm'%>
            </div>
            <div class="form-group my-1">
                <%= f.label :tag_id, 'タグ' %></br>
                <%cache_unless tags.last.nil?, [tags.last , tags.size] ,expires_in: 30.minutes do%><%= f.collection_select :tag_id, tags.where(user_id: current_user.id),:id,:name,{},class: 'form-control form-control-sm'%><%end%>
            </div>
            <div class="form-group mt-1 mb-3 ">
                <%= f.label :quantity, '個数'%>
                <%= f.number_field :quantity, value: 1,min: 1, class: 'form-control form-control-sm', size: '5x5' %>
            </div>
        </div>
        <div class="modal-footer">
            <%= f.submit '追加' , class: 'btn ml-2 btn-sm clr_main_b clr_sub_c w-100' %>
        </div>
        <%end%>
    </div>
  </div>
</div>