<div class="card mt-2">
    <div class="card-body">

        <%= form_with(model: user, local: true)do |f| %>
        <div class="form-group">

            <%= f.label :name, 'ユーザーネーム'%>
            <%= f.text_field :name, class: 'form-control'%>
            
            <div class="form-group">
            <%= f.label :email, 'メールアドレス' %>
            <%= f.text_field :email, class:'form-control' %>
            </div>

            <div class="form-group">
                <%= f.label :password, 'パスワード' %>
                <%= f.password_field :password, class:'form-control' %>
            </div>

            <%= f.submit 'OK' , class: 'btn btn-success ml-2' %>
        </div>
        <%end%>
        <div class="my-2" style="border-bottom: 2px dotted #e6e6e6;width:100%"></div>
        
        <%= link_to  logout_path, method: :delete  do%>ログアウト <i class="fas fa-sign-in-alt"></i><%end%>

    </div>
</div> 


