<%= content_tag(:div,'',style:'border-color:'+@theme.clr_font ,class:'card mt-1') do %>
    <div class="card-body">

        <%= form_with(model: user, local: true)do |f| %>
        <div class="form-group">

            <%= f.label :name, 'ユーザーネーム'%>
            <%= f.text_field :name, class: 'form-control'%>
            
            <div class="form-group">
            <%= f.label :email, 'メールアドレス' %>
            <%= f.text_field :email, class:'form-control' %>
            </div>

            <div class="form-group">
                <%= f.label :password, 'パスワード' %>
                <%= f.password_field :password, class:'form-control' %>
            </div>

            <%= f.submit 'OK' , class: 'btn btn-success ml-2',style: 'background-color:'+@theme.clr_sub+';color:'+@theme.clr_font+';border-color:'+@theme.clr_font %>
        </div>
        <%end%>
        <%= content_tag(:div,'', style: "border-bottom: 3px dotted "+@theme.clr_font,class:"w-100 my-2")%>

        <%= link_to  logout_path, method: :delete  do%>ログアウト <i class="fas fa-sign-in-alt"></i><%end%>

    </div>
<%end%> 


