<div class = 'card mt-1 clr_font_bd'>
    <div class="card-body m-0">

        <%= form_with(model: user, local: true)do |f| %>
        <div class="form-group">

            <%= f.label :name, 'ユーザーネーム'%>
            <%= f.text_field :name, class: 'form-control form-control-sm'%>
            
            <div class="form-group">
            <%= f.label :email, 'メールアドレス' %>
            <%= f.text_field :email, class:'form-control form-control-sm' %>
            </div>

            <div class="text-right mt-3">

            <%= f.submit 'OK' , class: 'btn ml-2 btn-sm clr_sub_b clr_font_c',style: 'border-color:'+@theme.clr_font %>
            </div>
        </div>
        <%end%>
        <%= content_tag(:div,'', style: "border-bottom: 2px dotted "+@theme.clr_point,class:"w-100 my-2")%>

        <%= link_to  logout_path, method: :delete  do%>ログアウト <i class="fas fa-sign-in-alt"></i><%end%>

    </div>
</div> 


