<% if user_signed_in? %>
<%=render 'layouts/color' %>
    <button type="button" class="btn clr_main_b clr_sub_c rounded-circle nav-cube" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-cube fa-lg fa-2x"></i></button>
    <%= render 'things/tng_phone',lists: @lists,tags: @tags%>
    <div class="row main-flag" style="margin:0;">
        <div class="p-3 pb-5 col-12 p-0 clr_sub_b" style="display:inline-block;overflow-x:scroll;height:90%">
            <%@clr_flag = false %>
            <%= render partial: 'lists/list_phone' ,collection: @lists, as: 'list' ,locals:{lists: @lists,tags: @tags}%>
            <% unless current_user.things.select(:list_id).where(list_id: nil).size == 0 then%><%= render partial: 'lists/nil_list_phone', things: @things%><%end%>
            <%= render 'layouts/search_phone' ,search_things: @search_things,lists: @lists,tags: @tags%>
        </div>
    </div>
<% else %>
<% cache 'top_s',expires_in: 30.minutes do%>
    <div class="w-100 h-25 p-3 d-flex align-items-end justify-content-center">
        <div>
            <h1>冷蔵庫タスク</h1>
            <p class="m-0">整理整頓しよう!</p>
        </div>
    </div>
    <div class=" w-100 p-3 h-75 d-flex align-items-center justify-content-center" style="background-color:">
        <div class="w-100">
            <a class="btn btn-success btn-block form-btn login-btn" style="color:white">ログイン</a>
            <a class="mt-3 btn btn-success btn-block form-btn signup-btn" style="color:white">新規登録</a>
            <div class='signup-form'>
                <%= render 'devise/registrations/new' %>
            </div>
            <div class='login-form' style="display:block">
                <%= render 'devise/sessions/new' %>
            </div>
            <div class="forget-form">
                <%= render 'devise/passwords/new' %>
            </div>
        </div>
    </div>
    <script>
    //button
    $('.signup-form , .login-form,.forget-form').hide();
    //signupを選んだ場合
    $('.signup-btn').on('click', function(){
        $('.form-btn, .login-form,.forget-form').hide();
        $('.signup-form').fadeIn();
    });
    //loginを選んだ時
    $('.login-btn').on('click', function(){
        $('.form-btn , .signup-form,.forget-form').hide();
        $('.login-form').fadeIn();
    });
    //パスワードの再設定
    $('.forget-btn').on('click', function(){
        $('.form-btn , .login-form').hide();
        $('.forget-form').fadeIn();
    });
    </script>
<%end%>
<%end%>
<style>
.row{height:95%;}
</style>