<% if logged_in? %>
<%=render 'layouts/color' %>

<div class="row load-flag w-100" style="margin:0;height:95vh">
    <div class="col-12 clr_sub_b">
        <div class="loader clr_main_c" style="top:30%">Now Loading...</div>
    </div>
</div>
    <%#phone%>
    <div class="clr_main_b clr_sub_c rounded-circle" style="height:60px;width:60px">
        <div class="text-center d-flex align-items-center">
            <i class="fas fa-cube fa-lg"></i>
        </div>
    </div>
    <div class="row main-flag" style="margin:0;display:none">
        <div class="col-12 p-0 clr_sub_b" style="display:inline-block;overflow-x:scroll;height:100%">
            <%@clr_flag = false %>
            <%= render partial: 'lists/list_phone' ,collection: @lists, as: 'list' %>
            <%#<% if @test.where(list_id: nil).size != 0 then%>
            <%#    <%= render partial: 'layouts/nil_list'%>
            <%#<%end%>
            <%#<%= render 'layouts/all_search' ,search_things: @search_things%>
        </div>
    </div>
    
    
<% else %>
<% cache 'top',expires_in: 30.minutes do%>
    <div class="m-0 row align-items-center top">
        <div class="col-lg-7 col-12 top-img">
            <div class="top-text">
                <div class="align-items-center">
                    <h1>冷蔵庫タスク</h1>
                    <p>整理整頓しよう!</p>
                    <p></p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-12 offset-lg-1" style="padding:0">
            <div class="align-items-center">
                <a class="btn btn-success btn-block form-btn login-btn" style="color:white">ログイン</a>
                <a class="btn btn-success btn-block form-btn signup-btn" style="color:white">新規登録</a>
            </div>
            
            <div class='signup-form'>
                <%= render 'users/new' %>
                <div class="text-right">
                    <a class="btn btn-link login-btn">ログイン</a>
                </div>
            </div>
            
            <div class='login-form'>
                <%= render 'sessions/new' %>
                <div class="text-right">
                    <a class="btn btn-link signup-btn">新規登録</a>
                </div>
            </div>
        </div>
    </div>
<%end%>
<%end%>

<script>
    //button
    $('.signup-form , .login-form').hide();

    //signupを選んだ場合
    $('.signup-btn').on('click', function(){
        $('.form-btn, .login-form').hide();
        $('.signup-form').fadeIn();
    });
    //loginを選んだ時
    $('.login-btn').on('click', function(){
        $('.form-btn , .signup-form').hide();
        $('.login-form').fadeIn();
    });
</script>

<style>
.row{
    height:95%;
}

</style>