<%if user_signed_in? %>
<%=render 'layouts/color'%>
    <%cache 'load'+current_user.updated_at.to_s do%>
        <div class="row load-flag w-100" style="margin:0;height:95vh;position:absolute;z-index:1">
            <div class="col-12 clr_sub_b"><div class="loader clr_main_c" style="top:30%">Now Loading...</div></div>
        </div>
    <%end%>
    <div class="row main-flag" style="margin:0">
        <div class="col-2" style="padding:0;display:block;">
            <%= render 'layouts/navbar' %>
        </div>
        <div class="list_update col-10 p-0 clr_sub_b" style="display:flex;overflow-x:auto;height:100%">
            <%= render partial: 'lists/list' ,collection: @lists, as: 'list' ,locals:{lists: @lists,tags: @tags}%>
            <% unless current_user.things.select(:list_id).where(list_id: nil).size == 0 then%><%= render 'lists/nil_list',things: @things,lists: @lists,tags: @tags%><%end%>
            <%= render 'layouts/search' ,search_things: @search_things,lists: @lists,tags: @tags%>
        </div>
    </div>
<% else %>
<% cache 'top_p',expires_in: 30.minutes do%>
    <div class="m-0 row align-items-center top">
        <div class="col-lg-7 col-12 top-img">
            <div class="top-text">
                <div class="align-items-center">
                    <h1>冷蔵庫タスク</h1>
                    <p>整理整頓しよう!</p>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-12 offset-lg-1" style="padding:0">
            <div class="align-items-center">
                <a class="btn btn-success btn-block form-btn login-btn" style="color:white">ログイン</a>
                <a class="mt-3 btn btn-success btn-block form-btn signup-btn" style="color:white">新規登録</a>
                <%= link_to 'ゲストログイン' ,users_guest_sign_in_path, method: :post, class: 'mt-3 btn btn-success btn-block'%>
            </div>
            <div class='signup-form'>
                <%= render 'devise/registrations/new' %>
            </div>
            <div class='login-form'>
                <%= render 'devise/sessions/new' %>
            </div>
            <div class="forget-form">
                <%= render 'devise/passwords/new' %>
            </div>
            
        </div>
    </div>
    <script>
    //button
    $('.signup-form , .login-form,.forget-form').hide();
    //signupを選んだ場合
    $('.signup-btn').on('click', function(){
        $('.form-btn, .login-form,.forget-form').hide();
        $('.signup-form').fadeIn();
    });
    //loginを選んだ時
    $('.login-btn').on('click', function(){
        $('.form-btn , .signup-form,.forget-form').hide();
        $('.login-form').fadeIn();
    });
    //パスワードの再設定
    $('.forget-btn').on('click', function(){
        $('.form-btn , .login-form').hide();
        $('.forget-form').fadeIn();
    });
    </script>
<%end%>
<%end%>
<style>
.row{height:95%;}
</style>