
<div class='card mt-1 clr_font_bd'>
    <div class="card-body">
        <p>タグの新規登録</p>
        <div class="tag-add-form">
            <%= render 'tags/tag_form',tag: @tag%>
        </div>
    
        <%= content_tag(:div,'', style: "border-bottom: 2px dotted "+@theme.clr_point,class:"w-100 my-2")%>
        <p>タグ一覧</p>

        <div class="card" style="height:150px">
            <div class="card-body p-1" style="overflow-y:auto">
                <table class="table table-borderless">
                    <tbody>
                        <% cache @tags , expired_in: 10.minutes do%>
                        <% @tags.each do |tag|%>
                            <tr class="p-0 my-3">
                                <td class="p-0"><%= link_to tag , :method => :delete, data:{ confirm: tag.name+'を削除しますか？'},class: 'mx-2 clr_point_c ' do %><i class="fa fa-times"></i><% end %></td>
                                <td class="p-0"><%= tag.name %></td>
                                <td class="p-0"><div class= ' clr_point_c tag-edit text-right btn btn-link p-0'><i class="fas fa-pen fa-sm"></i></div></td>
                            </tr>
                            
                            <tr class="p-0 my-3 tag-edit-form">
                                <td colspan="3" class="w-100 px-1 py-2">
                                    <%= form_with(model: tag, local: true)do |f| %>
                                        <div class="input-group">
                                            <%= f.text_field :name, class: 'form-control form-control-sm'%>
                                            <span class="input-group-append">
                                                <%= f.submit 'OK' , class: 'btn btn-sm clr_sub_b clr_font_c clr_font_bd' %>
                                            </span>
                                        </div>
                                    <%end%>
                                </td>
                            </tr>
                        <%end%>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
$('.tag-edit-form').hide();
</script>