<%= content_tag(:div,'',style:'border-color:'+@theme.clr_font ,class:'card mt-1') do %>

    <div class="card-body">
        <p>タグの新規登録</p>
        <div class="tag-add-form">
            <%= render 'tags/tag_form',tag: @tag%>
        </div>
    
        <%= content_tag(:div,'', style: "border-bottom: 3px dotted "+@theme.clr_font,class:"w-100 my-2")%>

        <p>タグ一覧</p>

        <div class="card" style="height:250px">
            <div class="card-body p-1" style="overflow-y:scroll">
    
                <table class="table table-borderless">
                    <tbody>
                        <% tags.each do |tag|%>
                            <tr class="p-0 my-3">
                                <td class="p-0"><%= link_to tag , :method => :delete, data:{ confirm: tag.name+'を削除しますか？'},class: 'mx-2' ,style:"color:"+@theme.clr_main do %><i class="fa fa-times"></i><% end %></td>
                                <td class="p-0"><%= tag.name %></td>
                                <td class="p-0"><%= content_tag(:div,'', style: 'color:'+@theme.clr_main ,class: 'text-right list-edit btn btn-link p-0')do %><i class="fas fa-pen"></i><%end%></td>
                                <div class="tag-edit-form">
                                <%= render 'tags/tag_form',tag: tag%>   
                                </div>
                            </tr>
                        <% end %>
                    </tbody>
                </table>

            </div>
        </div>

    </div>

<%end%>


<script>
    $('.tag-edit-form').hide();//
        $('.tag-edit').on('click',function(){
            $(this).next('.tag-edit-form').slideToggle();
//            $('.tag-edit-form').not($(this).next('.tag-edit-form')).slideUp();
        })

</script>