<div class="px-3 py-3 clr_sub_b" style="height:85%">
    <div class="card mb-2 clr_font_bd">
        <div class="card-body">
            <% cache 'tag_form_s' ,expires_in: 1.hours do %>
            <%= form_with(model: @tag)do |f| %>
                <div class="form-group">
                    <%= f.label :name, 'タグの新規登録',class:' mb-2' %>
                    <%= f.text_field :name, autocomplete: 'off', class: 'form-control form-control-sm tag-field'%>
                </div>
                <%= f.submit '追加' , class: 'btn btn-sm clr_main_b clr_sub_c w-100' %>
            <%end%>
            <%end%>
        </div>
    </div>
    <div class="card mb-3 clr_font_bd" style="height:70%">
        <div class="card-body h-100">
            <p class="mb-2">タグ一覧</p>
            <div class="card" style="height:91%">
                <div class="card-body px-3 py-0 tags_update_phone" style="overflow-y:auto">
                    <%= render 'tags/partial_tag_phone',tags: @tags%>
                </div>
            </div>
        </div>
    </div>
</div>