<div class="card">
  <div class="card-body">
    <h1 style="font-size:20px;">ログイン</h1>
    
    <div style="border-bottom: 2px dotted #e6e6e6"></div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field my-2">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class:'form-control' %>
      </div>
    
      <div class="field my-2">
        <%= f.label :password %>
        <span class="p-0 forget-btn btn btn-link" style="float:right">忘れちゃった...</span>
        <%= f.password_field :password, autocomplete: "current-password",class:'form-control' %>
      </div>
    
      <% if devise_mapping.rememberable? %>
        <div class="field ">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    
      <div class="actions">
        <%= f.submit "ログイン" , class: 'btn btn-success btn-block'%>
      </div>
    <% end %>

  </div>
</div>
<div class="text-right">
    <div class="btn btn-link signup-btn">新規登録</div>
</div>


