<div class="card">
  <div class="card-body">
     <h5 class="w-50" style="display:inline-table">ログイン</h5>
    <div class="py-0 pr-0 btn btn-link signup-btn" style="padding-left:26%">新規登録</div>
    
    <div style="border-bottom: 2px dotted #e6e6e6"></div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field my-2">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class:'form-control' %>
      </div>
    
      <div class="field my-2">
        <%= f.label :password %>
        <span class="p-0 forget-btn btn btn-link" style="float:right">忘れちゃった...</span>
        <%= f.password_field :password, autocomplete: "current-password",class:'form-control' %>
      </div>
    
      <% if devise_mapping.rememberable? %>
        <div class="field ">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    
      <div class="actions">
        <%= f.submit "ログイン" , class: 'btn btn-success btn-block'%>
      </div>
    <% end %>

  </div>
</div>