<div class="col-3 p-0 clr_sub_b w-100 h-100 search-list clr_font_c" >
    <!-- リスト名 -->
    <div class='card mt-2 mx-auto clr_font_bd' style='width:95%;'>
        
        <div class="row no-gutters search-main">
            
            <div class="col-md-1">
                <div class= 'w-100 h-100 clr_main_b'></div>
            </div>
        
            <div class="col-md-9">
                <div class="card-body mx-auto h-100">
                    <h1 style="font-size:20px;margin:0">検索</h1>
                </div>
            </div>
            
            <div class="col-md-2">
                <div class="h-100 d-flex align-items-center">
                    <div class="search-btn text-center w-100">
                    <div class= 'clr_main_c w-100 text-center btn btn-link p-0 '><i class="fas fa-search "></i></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row no-gutters search-form">
            <div class="col-md-1">
                <div class= 'w-100 h-100 clr_main_b'></div>
            </div>
            <div class="col-md-11">
                <div class="card-body">
                    <%= form_with(url: root_path(:search),method: :get,local: true)do |f|%>
                        <div class="input-group">
                            <%= f.text_field :search, {class: 'form-control form-control-sm'}%>
                            <span class="input-group-append">
                                <%= f.submit '検索' , {class: 'btn btn-sm clr_sub_b clr_font_c'} %>
                            </span>
                        </div>
                    <%end%>
                </div>
            </div>
        </div> 
        
    </div>

    <!-- 中身 -->
    <div class="mt-4 list-card search-tngs">
        <div class="w-100 px-2">
            <%= @no = @search_things.size %>
            <%if @search_things == nil%>
                <div class='card mx-auto clr_font_bd w-100'>
                    <div class="row no-gutters">
                        <div class="col-md-1">
                            <div class= 'w-100 h-100 clr_main_b '></div>
                        </div>
                    
                        <div class="col-md-11 px-auto w-100 py-3 px-3">
                            <div class="h-100 d-flex align-items-center">
                                <div class="tng-edit text-center w-100">
                                    <div class='w-100 text-left h-100'>キーワードを入力してね</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <%else%>
                <% @clr_flag = 'search' %>
                <%= render partial: 'things/tng' , collection: search_things, as: 'tng'%>
            <%end%>
        </div>
    </div>
        
</div>

