<nav id="nav-bar">
  <ul>
    <li class="sub-menu" >
      <div class="sub-menu-head"><i class="fas fa-plus fa-2x"></i><a class="ml-2 btn btn-link">モノ</a></div>
      <ul class="sub-menu-body">
        <li><%= render 'things/thing_form' %></li>
      </ul>
    </li>

    <li class="sub-menu">
      <div class="sub-menu-head"><i class="fas fa-tag fa-2x"></i><a class="ml-2 btn btn-link">タグ</a></div>
      <ul class="sub-menu-body">
        <li><%= render 'tags/tags' , tags: @tags%></li>
      </ul>
    </li>
    
    <li class="sub-menu">
      <div class="sub-menu-head"><i class="fas fa-search fa-2x"></i><a class="ml-2 btn btn-link">検索</a></div>
      <ul class="sub-menu-body">
        <li><a href="#">なかみ</a></li>
      </ul>
    </li>
    <li class="sub-menu">
      <div class="sub-menu-head"><i class="fas fa-cog fa-2x"></i><a class="ml-2 btn btn-link">リスト</a></div>
      <ul class="sub-menu-body">
        <li><%= render 'lists/lists' , lists: @lists%></li>
      </ul>
    </li>
    
    <li class="sub-menu">
      <div class="sub-menu-head"><i class="fas fa-user fa-2x"></i><a class="ml-2 btn btn-link">ユーザー設定</a></div>
      <ul class="sub-menu-body">
        <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
        <li><%= render 'users/edit',user: current_user%></li>
      </ul>
    </li>
  </ul>
</nav>
<script>
  $(function(){
    $('.sub-menu-body').hide();
    $('.sub-menu-head').on('click', function(){
      $(this).next('.sub-menu-body').slideToggle();
      $('.sub-menu-body').not($(this).next('.sub-menu-body')).slideUp();
      console.log('わしじゃよ')
    })
  });
</script>
<style>
  ul {
    list-style: none;
    margin:0;
    padding:0;
    text-align:left;
  }

  li{
    padding:10px;

  }
  
  #nav-bar{
    width:100%;
    height:100%;
    background-color:pink;
  }
  .sub-menu{
    margin:0px;
  }
</style>