
<%= content_tag(:div,'',style:'border-color:'+@theme.clr_font ,class:'card mt-1') do %>

    <div class="card-body">
        <%= form_with(url: root_path(:search),method: :get,local: true)do |f|%>
            <div class="input-group">
                <%= f.text_field :search, {class: 'form-control form-control-sm'}%>
                <span class="input-group-append">
                    <%= f.submit '検索' , {class: 'btn btn-sm clr_sub_b clr_font_c'} %>
                </span>
            </div>
        <%end%>
    </div>

<%end%>
<%if search_things==nil then%>
    <p class="text-center">キーワードをにゅうりょくしてね</p>
<%else%>
<!-- 中身 -->
<div class="mt-2 mx-1 list-s" style="display:flex;overflow-y:auto;">
    <div class="mx-0" style="width:95%;height:80%">
        <% search_things.each do |tng| %>
                <% @clr = @theme.clr_list_ii %>
                <%= render 'things/test' , tng: tng %>
            <%end%>
        <%end%>
        
    </div>
</div>

<style>
    .list-s{
        height:45vh;
    }
</style>
