<!DOCTYPE html>
<html>
  <head>
    <title>FridgeLists</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>    
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
    <%= stylesheet_link_tag 'application',  media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-fluid" style="padding:0;position:relative;">
      <%= render 'layouts/top_nav'%>
      <%= render 'layouts/flash_messages'%>
      <%= render 'layouts/nav_phone'%>
      <%= yield %>
    </div>
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
</html>
<script>
  //$(function(){setTimeout("$('.toast').fadeOut(200)", 2000)});
  $('.container-fluid').css('height',$(window).height());
</script>