<!DOCTYPE html>
<html>
  <head>
    <title>FridgeLists</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    
    
  </head>
  <style>
        /*メイン*/
    .clr_main_c{
        color:<%= @theme['clr_main'] %>;
    }
    .clr_main_b{
        background-color:<%= @theme['clr_main'] %>;
    }
    
    /*サブ*/
    .clr_sub_c{
        color:<%= @theme['clr_sub'] %>;
    }
    .clr_sub_b{
        background-color:<%= @theme['clr_sub'] %>;
    }
    
    /*ポイント*/
    .clr_point_c{
        color:<%= @theme['clr_point'] %>;
    }
    .clr_point_b{
        background-color:<%= @theme['clr_point'] %>;
    }
    .clr_point_l{
        border-bottom: 2px dotted <%= @theme['clr_point'] %>;
    }
    
    /*リスト*/
    .clr_list_i_c{
        color:<%= @theme['clr_list_i'] %>;
    }
    .clr_list_i_b{
        background-color:<%= @theme['clr_list_i'] %>;
    }
    
    /*リスト*/
    .clr_list_ii_c{
        color:<%= @theme['clr_list_ii'] %>;
    }
    .clr_list_ii_b{
        background-color:<%= @theme['clr_list_ii'] %>;
    }
    
    /*フォント*/
    .clr_font_c{
        color:<%= @theme['clr_font'] %>;
    }
    .clr_font_b{
        background-color:<%= @theme['clr_font'] %>;
    }
    .clr_font_bd{
        border-color:<%=@theme['clr_font'] %> 
    }
  </style>

  <body>
    <div class="container-fluid" style="height:100vh;padding:0;position:relative;">
      <div class="container"></div>
      <%= render 'layouts/flash_messages'%>
      <%= yield %>
    </div>
  </body>
</html>

<script>
  $(function(){
    setTimeout("$('.flash-msg').fadeOut(100)", 3000) 
  })
  //background-color:#e6e6e6;
</script>